alembic==1.11.1
SQLAlchemy==2.0.20
psycopg2-binary==2.9.9
requests==2.31.0
tqdm==4.66.2
pytz==2024.1
pydantic==1.10.14
fastapi==0.95.2
uvicorn==0.22.0
xmltodict==0.13.0
pydantic-argparse==0.10.0
argcomplete==3.1.1